sacremoses==0.0.53
datasets==3.1.0
diffusers>=0.21.2
tqdm
transformers==4.29.2
sentencepiece==0.1.99
setuptools==69.5.1
accelerate==0.21.0
peft==0.5.0
tyro>=0.5.7
evaluate==0.4.1
numpy>=1.18.2
trl==0.7.2
